service vendor.health-gold /vendor/bin/hw/android.hardware.health-service.gold
    class hal
    user system
    group system
    capabilities WAKE_ALARM BLOCK_SUSPEND
    file /dev/kmsg w

service vendor.charger /vendor/bin/hw/android.hardware.health-service.gold --charger
    class charger
    disabled
    seclabel u:r:charger_vendor:s0
    user system
    group system graphics wakelock input
    capabilities SYS_BOOT
    file /dev/kmsg w
    file /sys/fs/pstore/console-ramoops-0 r
    file /sys/fs/pstore/console-ramoops r
    file /proc/last_kmsg r

on charger
    wait /dev/dri/card0 20
    chown system system /dev/graphics/fb0
    chown system system /dev/dri/card0
    start vendor.charger
